
**Name : Chetna Sahu**

**Roll no : 2020A1L118**

**Subject: Python (ITO- 804)**

Q1.) Write a Python program that takes a list of daily stock prices as input, and returns the best 
days to buy and sell stocks in order to maximize profit. The list contains the stock prices for 
each day, starting from the first day. 

For example, the list (100, 180, 260, 310, 40, 535, 695) represents the stock prices for 7 days, 
where the price on the first day is 100, the second day is 180, and so on. 
The program should find the best days to buy and sell stocks such that the profit obtained is 
maximum. For instance, in the given list of stock prices, the best days to buy and sell stocks 
would be: 

Buy stock on the 1st day (price=100) 
Sell stock on the 4th day (price=310)
Buy stock on the 5th day (price=40) 
Sell stock on the 7th day (price=695)
 
The program should output these buy and sell days as a tuple or list of integers. give me 
solution of this program

In [1]:
def find_best_days(prices):
    min_price = float('inf')
    max_profit = 0
    buy_day = 0
    sell_day = 0
    
    for i in range(len(prices)):
        if prices[i] < min_price:
            min_price = prices[i]
            buy_day = i
        
        profit = prices[i] - min_price
        if profit > max_profit:
            max_profit = profit
            sell_day = i
    
    return (buy_day+1, sell_day+1)
prices = [100, 180, 260, 310, 40, 535, 695]
print(f"Prices on Each Date:")
for i in range(0,len(prices)):
    print("Price of Day",i+1,"is",prices[i])
best_days = find_best_days(prices)
print(f"Buy on day {best_days[0]} and sell on day {best_days[1]}")

Prices on Each Date:
Price of Day 1 is 100
Price of Day 2 is 180
Price of Day 3 is 260
Price of Day 4 is 310
Price of Day 5 is 40
Price of Day 6 is 535
Price of Day 7 is 695
Buy on day 5 and sell on day 7

Q2.) You are given a list of book titles and their corresponding publication years. Your task is 
to find the earliest year in which a trilogy of books was published. A trilogy is defined as a 
series of three books published in consecutive years.
For example, consider the following list of book titles and publication years:
Model Institute of Engineering & Technology (Autonomous)
(Permanently Affiliated to the University of Jammu, Accredited by NAAC with “A” Grade) 
titles = ['The Hunger Games', 'Catching Fire', 'Mockingjay', 'The Lord of the Rings', 'The Two 
Towers', 'The Return of the King', 'Divergent', 'Insurgent', 'Allegiant']
years = [2008, 2009, 2010, 1954, 1955, 1956, 2011, 2012, 2013]
The earliest year in which a trilogy was published is 1954.

In [2]:
def find_trilogy_year(books):
    years = sorted(set(books.values()))
    
    for i in range(len(years)-2):
        if (years[i+2] - years[i+1] == years[i+1] - years[i]) and \
        any(years[i+1] == year for book, year in books.items() if years[i] <= year <= years[i+2]):
            return years[i]
    
    return None

books = {'The Hunger Games': 2008, 'Catching Fire': 2009, 'Mockingjay': 2010, 'The Lord of the Rings': 1954, \
                 'The Return of the King': 1956, 'Divergent': 2011, 'Insurgent':2012,'Allegiant':2013,  'The Two Towers':1955}
trilogy_year = find_trilogy_year(books)
print(f"The earliest year in which a trilogy was published is {trilogy_year}")

The earliest year in which a trilogy was published is 1954

Q3.) Write a Python program that reads in a CSV file of stock prices (e.g. ticker symbol, date, 
price), and then uses dictionaries and lists to calculate the highest and lowest prices for each 
stock from following table:

Symbol Date Price
AAPL 2022-01-01 135.90
AAPL 2022-01-02 138.45
AAPL 2022-01-03 142.20
GOOG 2022-01-01 2105.75
GOOG 2022-01-02 2098.00
GOOG 2022-01-03 2125.50
MSFT 2022-01-01 345.20
MSFT 2022-01-02 344.70
MSFT 2022-01-03 342.10

In [ ]:
import csv

# Open the CSV file and read in the data
with open('3_csv.csv') as file:
    reader = csv.reader(file)
    # Skip the header row
    next(reader)
    # Create an empty dictionary to store the prices for each stock
    prices = {}
    # Loop through each row of the CSV file
    for row in reader:
        # Extract the symbol, date, and price from the row
        ticker, date, price = row
        # Convert the price from a string to a float
        price = float(price)
        # Check if the ticker symbol is already in the dictionary
        if ticker in prices:
            # If the ticker symbol is already in the dictionary, add the price to the list of prices for that stock
            prices[ticker].append(price)
        else:
            # If the ticker symbol is not already in the dictionary, create a new list with the first price
            prices[ticker] = [price]

# Loop through the dictionary of prices for each stock
for ticker, price_list in prices.items():
    # Calculate the highest and lowest prices for the stock
    highest_price = max(price_list)
    lowest_price = min(price_list)
    # Print the results
    print(f"{ticker}: Highest Price = ${highest_price:.2f}, Lowest Price = ${lowest_price:.2f}")

Q4.) A) Write a Python program to remove duplicates from a list of lists.
Sample list: [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]

In [ ]:
import itertools

num = [[10,20],[40],[30,56,25],[10,20],[33],[40]]
print("Original List",num)
num.sort()
new_num = list(num for num,_ in itertools.groupby(num))
print("New List", new_num)

Original List [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
New List [[10, 20], [30, 56, 25], [33], [40]]

B) Write a Python program which takes a list and returns a list with the elements "shifted left
by one position" so [1, 2, 3] yields [2, 3, 1].
Example: [1, 2, 3] → [2, 3, 1]
 [11, 12, 13] → [12, 13, 11]

In [ ]:
a= []
size = int(input("Enter size of the list :"))
for i in range(size):
  val = int(input("Enter Element:"))
  a.append(val)
print("Original List is :", a)
first_element = a[0]
for i in range(1,size):
  a[i-1]=a[i] 
a[size-1]=first_element
print("Modified List is:", a)

Enter size of the list :4
Enter Element:1
Enter Element:2
Enter Element:3
Enter Element:4
Original List is : [1, 2, 3, 4]
Modified List is: [2, 3, 4, 1]

C) Iterate a given list and count the occurrence of each element and create a dictionary to show
the count of each element.
Original list [11, 45, 8, 11, 23, 45, 23, 45, 89, 11, 89]
And expected output is:
Printing count of each item {11: 3, 45: 3, 8: 1, 23: 2, 89: 2}

In [ ]:
sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89,11,89]
print("Original list ", sample_list)

count_dict = dict()
for item in sample_list:
    if item in count_dict:
        count_dict[item] += 1
    else:
        count_dict[item] = 1

print("Printing count of each item  ", count_dict)

Original list  [11, 45, 8, 11, 23, 45, 23, 45, 89, 11, 89]
Printing count of each item   {11: 3, 45: 3, 8: 1, 23: 2, 89: 2}